@import "tailwindcss";


/* Rectangle 3 */

/* .rectangle{
        /* position: absolute; */
        /* width: 603px;
        height: 508px;
          /* top:100%; */
        /* background: url("image.png") center/cover no-repeat;
        border-radius: 30px; */

/* }  */

/* .navbar li {
    font-weight: 500;
    cursor: pointer;
} */

/* Rectangle 11 */

/* .about{


    width: 90%;
    height: 600px;
    margin: 20px auto;

 
    
    background: url(about.png) center/cover no-repeat;
    border-radius: 25px;

}      */
